* {
    padding: 0;
    margin: 0;    
}

body {
    height:100%;
    background-color: #000000;
}

.main {
    min-height:100%; 
    width:100%;
    margin: auto;
    padding-top: 20px;
}

.header {
    background-color: #042b31;
    color: #fafafa;
    width: 100%;
    padding: 30px;
}

.header .titulo {
    text-align: center;
}

.section {
    background-color: rgb(13, 38, 58);
    color: #fafafa;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 30px;
}

.section ul ol {
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer {
    background-color: #042b31;
    color: #fafafa;
    text-align: center;
    width: 100%;
    padding: 30px;
	bottom: 0;
}